main {
  @include flex-center;
  .container {
    min-height: 75vh;
    // overflow: hidden;
    position: relative;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    background: rgb(0,0,0);
    background: rgb(56, 55, 55);
    position: relative;
    flex-wrap: wrap;
  }
  .imagery-display{
    // border: 1px solid white;
    .show-more {
      font-weight: 600;
      margin: 20px;
      margin-left: 50%;
      transform: translate(-50%, -50%);
      &:hover {
        border: 2px solid white;
        background-color: $secondary-color;
      }
      &:active {
        box-shadow: inset rgb(12, 12, 12) 0px 5px 5px;
      }
      &:focus{
        border: 2px solid $secondary-color;
      }
    }
  }
  .loading {
    @include flex-center;
    // border: 1px solid white;
    margin: 20px;
  }
  .photo-gallery {
    @include flex-center;
    // display: flex;
    flex-wrap: wrap;
    // flex-direction: row;
  }
  .photo {
    width: 300px;
    height: 300px;
  }
  .sol-day{
    width: 100%;
    text-align: center;
    // border-bottom: 1px solid;
    span {
      font-size: 0.75rem;
    }
    &:after {
      border-bottom: 1px solid;
      content: '';
      display: block;
      width: 50%;
      margin-left: 25%;
    }
  }
  figure {
    position: relative;
    img {
      width: 100%;
    }
    &:hover::after {
      content: "\f00e";
      font-family: FontAwesome;
      color: $secondary-color;
      font-size: 3rem;
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
      position:absolute;
      top:50%;
      left: 50%;
      padding: 50%;
      transform: translate(-50%, -50%);
    }
  }
  figcaption{
    font-size: 0.9rem;
    text-align: center;
  }
  .fullScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background:rgba(255,255,255,0.7);
  }
  .fullScreen .close {
      display: block;
      margin: auto;
  }

  .fullScreen img {
      display: block;
      margin: 15px auto 5px;
      width: auto;
      height: calc(100% - 100px);
  }
  .close {
    font-weight: 600;
    background-color: $attention-color;
    border: 2px solid $attention-color;
    color: $secondary-color;
    &:hover {
      color: $secondary-color;
      border: 2px solid $secondary-color;
    }
  }
  .to-top__container {
    right: 5px;
    height: 98%;
    position: absolute;
  }
  .to-top {
    color: $attention-color;
    position: sticky;
    top: 90%;
    right: 50px;
    .fa-rocket {
      font-size: 2.5rem;
      transform: rotate(45deg);
      text-shadow:-2px 2px rgba(255, 255, 255, 0.2)
    }
  }
  .to-top:hover {
    color: $font-color;
    transform: translate(0%, -50%);
    .fa-rocket {
      text-shadow:-4px 4px rgba(255, 255, 255, 0.3)
    }
    &:active {
      font-size: 1.25rem; 
    }
  }
  .to-top:hover::before {
    content: 'to the top';
    position: absolute;
    bottom: 45px;
    right: -5px;
    width: 75px;
  }
  .nav-2 {
    @include flex-center;
    height: 35px;
    width: 100%;
    position: sticky;
    bottom: 0;
    background-color: rgba(240, 255, 255, 0.425);
    ul {
      max-width: 300px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    a {
      text-decoration: none;
    }
    .btn {
      padding: 4px 8px;
      border-radius: 5px;
      margin: 0 5px;
    }
  }
}